body{
    margin-left:15%;
    margin-right:15%;
}

#corps{
    clear:left;
}

#titre_cv{
    text-align:center;
}

#nom{
    text-align:center;
}

.titres_blocs{
    text-decoration:underline;
}

.titre_liste{
    color:#1AB6EB;
    font-weight:600;
}

.titre_competence{
    font-weight:600;
}

.sous_liste{
    list-style-type:none;
}

.competences{
    list-style-type:none;
}

#menu_horizontal li {
    float:left;
    border: 1px solid #ffffff;
}

#menu_horizontal ul{
    margin:0;
    padding:0;
    list-style-type:none;
}

#menu_horizontal a{
     display:block; 
     width:100px;
     line-height:50px;
     background-color:#600fbb;
     color:#DCDCDC;
     text-decoration:none;
     text-align:center;
     margin:0;
     border-radius:5px;
}

#menu_horizontal a:hover{
    background-image: linear-gradient(to bottom right, #671abe, #ebe7e7);
    color:#000000;
}