/*application d'une image de fond sur le body*/
/*aucune marge et padding sur la gauche*/
/*toutes les pages*/
body{
    margin-left:0;
    padding-left:0;
    background-image: url('../images/fond.png');
}

/*alignement au centre des éléments de la classe titre*/
/*toutes les pages*/
.titre{
    text-align:center;
}

/*marge de 15% à droite et à gauche pour les sections du body*/
/*page propriété_css*/
body section{
    margin-left:15%;
    margin-right:15%;
}

/*couleur sur les titres des listes de la page cv et mise en gras*/
/*page cv*/
.titre_liste{
    color:#600fbb;
    font-weight:600;
}

/*mise en gras des titres des competences*/
/*page cv*/
.titre_competence{
    font-weight:600;
}

/*pas de puce sur les listes de la classe compétences*/
/*page cv*/
.competences{
    list-style-type:none;
}

/*bloc de gauche du cv flottant a gauche, de couleur violet transparent*/
/*largeur de 25% et hauteur de 60em*/
/*marges légères sur tous les cotés et bordure noire de 1px*/
/*page cv*/
#presentation{
    float: left;
    width:25%;
    height:60em;
    background-color: #600fbb;
    opacity: 0.3;
    border:1px solid black;
    margin:1% 2% 1% 2%;
}

/*marge de 23 à gauche sur le menu horizontal de haut de page*/
/*page cv*/
#menu_horizontal{
    margin-left:23%;
}

/*pas de marge ni de padding sur la liste du menu horizontal*/
/*pas de puce sur la liste*/
/*page cv*/
#menu_horizontal ul{
    margin:0;
    padding:0;
    list-style-type:none;
}

/*item de la liste du menu horizontal flottant à gauche avec une marge droite de 1px*/
/*page cv*/
#menu_horizontal li {
    float:left;
    margin-right:1px;
}


/*lien du menu horizontal de largeur de 170px et d'une hauteur de ligne de 300%*/
/*couleur de fond violette et couleur de texte blanche*/
/*les liens ne sont pas soulignés (text-decoration:none) et centrés*/
/*bordures des liens arrondies de 5px*/
/*page cv*/
#menu_horizontal a{
     display:block;
     width:170px;
     line-height:300%;
     background-color:#600fbb;
     color:#DCDCDC;
     text-decoration:none;
     text-align:center;
     margin:0;
     border-radius:5px;
}

/*changement de la couleur des liens du menu horizontal lors du survol de ceux-ci*/
/*page cv*/
#menu_horizontal a:hover{
    background-image: linear-gradient(to bottom right, #671abe, #ebe7e7);
    color:#000000;
}


#menu_vertical{
    float:left;
    position:fixed;
    margin-top:9%;
    margin-left:0;
    padding-left:0;
}

#menu_vertical ul{
    list-style-type:none;
    margin-left:0;
    padding-left:2%;
}

#menu_vertical li{
    margin-bottom:1px;
}

#menu_vertical a{
    display:block;
    width:110%;
    line-height:300%;
    background-color:#DCDCDC;
    color:#600fbb;
    text-decoration:none;
    text-align:center;
    margin:0;
}

@keyframes anim_menu{
    0%{
        width: 105%;
        background-color:#DCDCDC;
        color:#600fbb;
    }
    100%{
        background-color:#600fbb;
        color:#DCDCDC;
        width:150%;
    }
}

/* L'animation ne fonctionne pas complètement sur Chrome, le changement de couleur se fait uniquement sur les liens non visités
    Impossible de réinitialiser cette propriété en javascript */
#menu_vertical a:hover{
   -moz-animation: anim_menu 1s forwards;
   -webkit-animation:anim_menu 1s forwards;
   -o-animation:anim_menu 1s forwards;
   animation: anim_menu 1s forwards;
}

#menu_principal{
    margin-left:24%;
    margin-right:24%;
    padding-left:2.5%;
}

#menu_principal a{
    display:inline-block;
    border:1px solid black;
    text-align: center;
    padding:1em 7% 1em 7%;
    border-radius: 4px;
    margin-bottom:1%;
    text-decoration: none;
    color: black;
    width:33%;
}

#menu_principal a:hover{
    border-right-color:blue;
    border-bottom-color: blue;
    color:blue;
    border-radius:50%;
    border-width:2px;
}

#corps_accueil h2{
    text-align: center;
}

.ajout_langage{
    margin-right:2%;
}

#bouton_ajout:hover{
    cursor:pointer;
}

.section_langage{
    margin-top:4%;
}

.suppr_langage:hover{
    cursor:pointer;
}

.souligne{
    text-decoration:underline;
}

.jauge{
    width:30%;
    margin-right:10%;
}

.titre_langage{
    text-transform:uppercase;
    display:block;
}

.modif{
    margin-right:10%;
    width:15%;
}

.corps{
    clear:left;
    margin-left:15%;
    margin-right:15%;
    padding-top:1%;
}

#choix_appli{
    margin-left:13%;
    margin-bottom:4%;
}

.lien_appli{
    padding:1% 5% 1% 5%;
    margin-right:10%;
    border:1px solid black;
}

.lien_appli:hover{
    cursor:pointer;
    background-image: linear-gradient(to bottom right, #671abe, #ebe7e7);
}

#titre_appli{
    text-align:center;
}

#descriptif_appli_film, #descriptif_appli_gpi, #descriptif_appli_prev,#img_film,#img_gpi,#img_prev{
    display:none;
}

.img_appli{
    width:92%;
    -moz-box-shadow: -10px -10px 5px -2px #A9A9A9;
    -webkit-box-shadow: -10px -10px 5px -2px #A9A9A9;
    -o-box-shadow: -10px -10px 5px -2px #A9A9A9;
    box-shadow: -10px -10px 5px -2px #A9A9A9;
}

.img_appli:hover{
    cursor:pointer;
}

.message_appli{
    display:block;
    margin:1% 0 1% 0;
}

.images_appli p{
    text-align:center;
    margin:0 5% 5% 5%;
}

#affich_appli{
    display:none;
}

.label_contact{
    display: block;
    margin-top: 5%;
}

#form_contact{
    padding-left: 33%;
}

textarea{
    display: block;
}

#sujet_message{
    width: 49%;
}

#proprietes{
    float:left;
    width:35%;
    border-right: 1px solid black;
    margin-bottom:5%;
}

#modification{
    width:50%;
    margin-left:50%;
    margin-top:25%;
}

#modif{
    width:80%;
    padding:0;
    margin:10% 10% 10% 10%;
    height:200px;
    background-color:mediumpurple;
}


.explication_prop{
    display:block;
    margin-bottom:2%;
    margin-top:8%;
}

.prop{
    display:block;
}
